body {
    font-family: heebo, sans-serif;
    background-color: #78B0FF;
    color: #DDE6FF;
}

h1  {
   font-weight: 900;
   font-size: 56px;

}
a {
    color: #DDE6FF;
}
a:hover {
    text-decoration: none;
}
.me {
    border: 3px solid #DDE6FF;
    border-radius: 75px;
    width: 150px;
    height: auto;
}
.main-content{
    text-align:center;
    margin-top: 50px;
}

.tab {
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 30px;
    color: #DDE6FF;
}

.tab button:hover {
    color: #78B0FF;
    background-color: #4960CC;
}

.tab button.active {
    background-color: #DDE6FF;
    color: #78B0FF;
}

.tabcontent {
    display: none;
    padding: 6px 12px;

}
#about{
    max-width: 600px;
    margin: 0 auto;
}
#contact{
    text-align: left;
    max-width: 350px;
    margin: 0 auto;
}
.tab-break {
    color: #B20600;
    border: 1px solid;
    margin: 20px auto;
    max-width: 500px;

}
.portfolio-wrapper{
    max-width: none;
}
.portfolio-list {
    list-style-type: none;
    padding: 0;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}
.portfolio-list-item {
    background-color: #DDE6FF;
    padding: 30px;
    margin: 5px;
    display: block;
    max-width: 100%;
    border-radius: 10px;

    -o-transition:.15s;
    -ms-transition:.15s;
    -moz-transition:.15s;
    -webkit-transition:.15s;
    transition:.15s;
}
.portfolio-list-item:hover {
    background-color: #4960CC;
}
.portfolio-list-item a{
    color: #78B0FF;
    
}


.portfolio-desc {
    font-weight: 400;
    font-size: 20px;
}
@media only screen and (min-width: 925px) {
    .portfolio-list-item {
        margin: 5px;
        text-align:center;
        display: inline-block;
        width: 48%;
    }
}
